{% extends "base.html"%}

{% block main %}
  <div class="login-form center-block" align="left">
   {%include 'flash_messages.html'%}
   {% for e in employees %}
      <h2>{{e.firstname}} {{e.lastname}}</h2>
      <h3><button data-toggle="collapse" data-target="#contract">Contract Information</button></h3>
      <div id="contract" class="collapse">
        <h4>Contract Start Date : </h4> {{e.startdate}}
        <h4>Contract Duration : </h4> {{e.duration}}
        <h4>Contract End Date : </h4>{{e.enddate}}
      </div>
  </div>	

  <div class="appInfo" float:right>
      <h3><button data-toggle="collapse" data-target="#appraisal">Appraisal Information</button></h3>
      <div id="appraisal" class="appInfo collapse">
        <a href="{{url_for('appraise', empid=e.id)}}">Add Appraisal</a><br><br>
    		<h4>Appraisal Rating: </h4>{{e.score}}
    		<h4>Comments: </h4>{{e.empNotes}}
      </div>

      <h3><button data-toggle="collapse" data-target="#attendance">Attendance records</button></h3>
      <div id="attendance" class="collapse">
        <h4>Vacation Days Remaining: </h4> {{e.vacationEnt}} days
        <h4>Vacation Taken: </h4> {{e.vacationtaken}} days
        <h4>Vacation Balance  </h4> {{e.vacationBalance}} days
        <h4>Sick Leave Taken </h4> {{e.sickLeaveTaken}} days
      </div>

      <h3><button data-toggle="collapse" data-target="#salary">Salary Information</button></h3>
      <div id="salary" class="collapse">
        <h4>Gross Salary: </h4> ${{e.salary}}
        <h4>Retention: </h4> ${{e.retention}}
        <h4>Net Basic Salary: </h4> ${{e.netBasicSalary}}
      </div>

  </div>
  {% endfor %}
{% endblock %}
